body {
    margin: 0;
}

h1#page-caption {
    width: 100%;
    text-align: center;
    background: #222;
    color: white;
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    padding: 1em 0;
}

div#menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: #555;
}

div#menu > ul > li > a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: 1.6em;
}