html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0px;
}

input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

#desktop-warning {
    background: brown;
    color: wheat;
    font-size: 1.5em;
    padding: 1em;
}

#container {
    display: flex;
}

#canvas {
    --height: 100vh;
    width: calc(var(--height) * 750 / 1334);
    height: var(--height);
}

#controls {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#controls > * {
    margin: .2em;
   -webkit-margin-collapse:collapse;
}

@media only screen and (max-width: 768px) {

    #desktop-warning {
        display: none;
    }

    #container {
        flex-wrap: wrap;
    }

    #canvas-container {
        flex: 1;
    }

    #canvas {
        --height: 65vh;
        padding: 0;
        margin: auto;
        display: block;
    }

}
